.projects-screen {
  display: block;
  width: 100%;
  object-fit: contain;

}
.gutter-size {
  --gutter-size: 0;
}

.image-box {
  background-color: var(--color-main);
}

.image-screen {
  width: 100%;
  height: 100%;
}

.image-box a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.image-box a::before {
  content: url(../images/Group.png);
  opacity: 0;
  position: absolute;

  top: calc((50%) - 25px);
  left:  calc((50%) - 50px);
  z-index: 1;
}

.image-box a::after {
  content: "";
  background-color: var(--color-main);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s;
 top: 0;
  left: 0;
}
.image-box a:hover::before {
  opacity: 1;
}

.image-box a:hover::after {
  opacity: 0.5;
}