/*@import "./reset.css";
@import "./grid.css";*/
@import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap");

* {
  --family-main-text: Roboto, Arial, Helvetica, sans-serif;
  --color-white: white;
  --color-body: #e5e5e5;

  --color-hex: #eeeff1;
  --color-main: #34547a;
  --color-black: black;
}

/*.flex{
  display: flex;
}*/

/*body {
  background-color: var(--color-body);

*/

.container-header {
  /*background-color: var(--color-hex);*/
}

/*.page-header {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: nowrap;
  padding: 15px 20px;
  background-color: var(--color-hex);
  align-items: center;
}*/

.head-cont {
  background-color: var(--color-hex);
}

.logo {
  font-family: Revalia, Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: var(--color-main);
  margin-top: 30px;
}

/*.page-header > * {
  margin-top: 10px;
  flex-grow: 0.5;
}*/

.navigation {
  text-align: center;
  font-family: var(--family-main-text);
  font-size: 16px;
  margin-top: 40px;
  padding: 10px;
}

.main-section {
  background-color: var(--color-hex);
}

.menu {
  display: inline-block;
}

.link {
  text-decoration: none;
  color: var(--color-black);
}

.link-first {
  color: var(--color-main);
}

.link-margin {
  margin-left: 30px;
}

/*.image {
margin-left: 100px;
  margin-top: 120px;
}*/

.design{
  margin-bottom: 90px;
}

.tittle {
  font-family: var(--family-main-text);
  font-size: 48px;
  font-weight: bold;
  margin-top: 110px;
  margin-bottom: 60px;
}

.text-content {
  font-family: var(--family-main-text);
  font-size: 16px;
  line-height: 25px;
}

.button {
  padding: 15px 20px;
  margin-top: 60px;
  color: var(--color-white);
  background-color: var(--color-main);
  border: 1px solid var(--color-black);
}

.button:hover{
  background-color: green;
  border: 2px solid red;
  color:black;
}

.button:active{
  background-color: red;
  border:2px solid green;
  color: darkblue;
}

.but-link {
  text-decoration: none;
}


.about-me{
  margin-bottom: 90px;
}

.title-main-footer {
  font-family: var(--family-main-text);
  font-size: 32px;
  font-weight: bold;
  margin-top: 110px;
  margin-bottom: 40px;
  text-align: center;
}

.text-main-footer {
  width: 100%;
  max-width: 600px;
  margin-bottom: 100px;
  font-family: var(--family-main-text);
  font-size: 16px;
  line-height: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.projects {
  background-color: var(--color-main);
}

.image-projects {
  padding: 40px 10px;
  margin-right: 5px;
  
}

.text-count {
  margin-top: 40px;
  font-size: 21px;
  font-family: var(--family-main-text);
  color: var(--color-white);

}

.projects {
  font-size: 16px;
  color: var(--color-white);
  padding-top: 8px;
 
}

/*--------мои навыки*/

.margin {
  margin: 0 auto;
}

.sub-heading {
  font-size: 32px;
  font-family: var(--family-main-text);
  margin-top: 150px;
  margin-bottom: 30px;
}

.skill-name {
  font-size: 16px;
  font-family: var(--family-main-text);
  margin: 15px 0;
}

.skill-progress {
  height: 5px;
  width: 100%;
  background-color: gray;
}

.skill-progress-inner {
  height: 100%;
  width: 70%;
  background-color: crimson;
}

.image {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.outer-wrapper-image {
  width: 70%;
  max-width: 700px;
  min-width: 260px;
  margin: 0 auto;
}

.inner-wrapper-image {
  position: relative;
  object-fit: cover;
}
/*--------*/
/*----как я работаю*/
.work-video {
  background-color: var(--color-hex);
}

.yt-video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.outer-wrapper {
  width: 70%;
  max-width: 700px;
  min-width: 260px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 20px;
}

.inner-wrapper {
  padding-top: calc(100% * 9 / 16);
  position: relative;
  object-fit: cover;
}
/*---картинки с глазом*/

.projects-screen {
  display: block;
  width: 100%;
  object-fit: contain;

}
.gutter-size {
  --gutter-size: 0;
}

.image-box {
  background-color: var(--color-main);
}

.image-screen {
  width: 100%;
  height: 100%;
}

.image-box a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.image-box a::before {
  content: url(../images/Group.png);
  opacity: 0;
  position: absolute;

  top: calc((50%) - 25px);
  left:  calc((50%) - 50px);
  z-index: 1;
}

.image-box a::after {
  content: "";
  background-color: var(--color-main);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s;
 top: 0;
  left: 0;
}
.image-box a:hover::before {
  opacity: 1;
}

.image-box a:hover::after {
  opacity: 0.5;
}

/*----microsoft icon*/

.microsoft-wrapper{
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
}

.microsoft-icon{
 block-size: 70%;
padding: 0;
}

/*------Хотите веб сайт*/

.feedback{
  background-color: var(--color-hex);
  width: 100%;


}

.account-wrapper{

  margin-top: 30px;
  margin-left: 27%;
  border: none;

}
.account-name1{
  padding: 10px 15px;
  font-size: 14px;
  font-family: var(--family-main-text);
  width: 30.5%;
  
}

.account-name2{
  padding: 10px 15px;
  font-size: 14px;
  font-family: var(--family-main-text);
  width: 30.5%;
  
}

.message-wrapper{
  border: none;
  display: flex;
  margin: 0 auto;
  padding-top: 15px;
  width: 46%;

}

.message{
  padding: 10px 15px;
  font-size: 14px;
  font-family: var(--family-main-text);

}

.text-align{
  text-align: center; 


}

.button-message {
  padding: 15px 20px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: var(--color-main);
  border: 1px solid var(--color-black);
  color: var(--color-white);
  margin-bottom: 80px;
 
}

.but-link-message {
  text-decoration: none;
}

.button-message:hover{
  background-color: green;
  border: 2px solid red;
  color:black;
}

.button-message:active{
  background-color: red;
  border:2px solid green;
  color: darkblue;
}

/*---footer*/

.footer-section{
  background-color: var(--color-main);
}

.footer-text{
  color: var(--color-white);

}

#h3{
  padding: 20px 0;
  font-family: var(--family-main-text);
  font-size: 21px;
  font-weight: bold;
}

#p{
  padding-bottom:50px;
  font-family: var(--family-main-text);
  font-size: 13px;
}



.facebook{
  padding-top: 40px;
  width: 7%;
}


